@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Overused Grotesk */
@font-face {
  font-family: "Overused Grotesk";
  src: url("/public/assets/fonts/font/OverusedGrotesk/OverusedGrotesk-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Overused Grotesk";
  src: url("/public/assets/fonts/font/OverusedGrotesk/OverusedGrotesk-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Overused Grotesk";
  src: url("/public/assets/fonts/font/OverusedGrotesk/OverusedGrotesk-SemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Overused Grotesk";
  src: url("/public/assets/fonts/font/OverusedGrotesk/OverusedGrotesk-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
button {
  cursor: none;
}

a {
  cursor: none;
}

body {
  font-family: "Overused Grotesk";
  background: #080807;
}

@layer utilities {
  .height-inherit {
    height: inherit;
  }
  .svg-style {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 300px);
  }
}
@layer components {
  .button {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    border-radius: 100px;
    background-color: #c2bba5;
    color: black;
    padding: 12px 24px;
  }
  .button > svg {
    width: 34px;
    transition: transform 0.3s ease-in-out;
  }
  .button:hover svg {
    transform: translateX(5px);
  }
  .button:active {
    transform: scale(0.95);
  }
  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999999;
    padding: 10px;
    background-color: #ece6d5;
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cursor-text {
    display: none;
    font-size: 4px;
    white-space: nowrap;
    font-weight: 500;
  }
  .line::after {
    content: "";
    height: 0.125rem;
    background-color: #e8deff;
    opacity: 0.2;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    transform: 0.4s opacity linear;
  }
  .hidden-text {
    width: 100%;
    height: initial;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .ease-in-out-cubic {
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  }
  .text-gradient {
    color: transparent;
    background-image: linear-gradient(
      2005deg,
      rgb(255, 255, 247) 8.55094%,
      rgb(114, 114, 103) 107.012%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .text-stroke-3 {
    -webkit-text-stroke: 1px #c2bba5;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
