@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Overused Grotesk */
@font-face {
  font-family: "Overused Grotesk";
  src: url("/public/assets/fonts/font/OverusedGrotesk/OverusedGrotesk-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Overused Grotesk";
  src: url("/public/assets/fonts/font/OverusedGrotesk/OverusedGrotesk-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Overused Grotesk";
  src: url("/public/assets/fonts/font/OverusedGrotesk/OverusedGrotesk-SemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Overused Grotesk";
  src: url("/public/assets/fonts/font/OverusedGrotesk/OverusedGrotesk-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
button {
  cursor: none;
}

a {
  cursor: none;
}

body {
  font-family: "Overused Grotesk";
  background: #e8e8e3;
}

@layer utilities {
  .height-inherit {
    height: inherit;
  }
  .svg-style {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 300px);
  }
}
@layer components {
  .button {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    border-radius: 100px;
    background-color: black;
    color: white;
    padding: 12px 24px;
  }
  .button > svg {
    width: 34px;
    transition: transform 0.3s ease-in-out;
  }
  .button:hover svg {
    transform: translateX(5px);
  }
  .button:active {
    transform: scale(0.95);
  }
  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 99999;
    padding: 10px;
    background-color: #fff;
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cursor-text {
    display: none;
    font-size: 4px;
    white-space: nowrap;
    font-weight: 500;
  }
  .line::after {
    content: "";
    height: 0.125rem;
    background-color: #e8deff;
    opacity: 0.2;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    transform: 0.4s opacity linear;
  }
  .hidden-text {
    width: 100%;
    height: initial;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .z-text::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      150deg,
      transparent,
      rgba(0, 0, 0, 0.7) 50%,
      #000 75%,
      #000
    );
  }
  .word-0 {
    grid-column: span 7 / span 7;
  }
  .word-1 {
    grid-column: span 5 / span 5;
    padding-top: 5rem;
  }
  .word-2 {
    grid-column: span 5 / span 5;
    padding-top: 5rem;
  }
  .word-3 {
    grid-column: span 7 / span 7;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
